@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  @apply bg-slate-50 text-slate-900 dark:bg-slate-950 dark:text-slate-100;
  user-select: none;
  /* Prevent accidental text selection in high pressure environments */
  -webkit-touch-callout: none;
  touch-action: manipulation;
  /* Prevent double-tap to zoom */
  /* Remove tap highlight on mobile browsers to make it feel like a native app */
  -webkit-tap-highlight-color: transparent;
}

#root {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
}